@media (max-width:1700px){
  .top{
    right: 85px;
  }
}
@media (max-width:1650px){
  header{
    .sub{
      width: 100%;
      height: auto;
      >ul{
        width: 100%;
        >li{
          padding:0px;
          a{
            display: inline-block;
            padding:15px 0px;
          }
        }
      }
    }
  }
  .top{
    right: 45px;
  }
}
@media (max-width:1450px){
  .top{
    right: 25px;
    width: 40px;
    height: 40px;
    i{
      font-size: 18px;
    }
  }
}
@media (max-width:1400px){
  .top{
    display: none;
  }
}
@media (max-width:1300px){
  header{
    height: 70px;
    .header_wrap{
      max-width: 95%;
      >a{
        img{
          width:140px;
        }
      }
      >ul{
        >li{
          padding-left:45px;
          height: 70px;
          >a{
            font-size: 18px;
            height:70px;
          }
        }
      }
    }
  }
  footer{
    .footer_wrap{
      max-width: 95%;
    }
  }
}
@media (max-width:1000px){
  header{
    height: 60px;
    .header_wrap{
      >a{
        img{
          width:120px;
        }
      }
      >ul{
        >li{
          padding-left:30px;
          height: 60px;
          >a{
            font-size: 17px;
            height: 60px;
          }
        }
      }
    }
  }
  footer{
    .footer_wrap{
      max-width: 95%;
      .bottom_wrap{
        display: block;
        .bot_left{
          margin-bottom: 20px;
          >ul{
            flex-wrap: wrap;
            margin-bottom: 0;
            li{
              margin-bottom: 5px;
            }
          }
        }
        .bot_right{
          i{
            &:nth-of-type(1){
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
@media (max-width:768px){}