@import "_reset";

.wrap{
  overflow-x: hidden;
  position: relative;
  .unit{
    padding-top: 80px;
    .con1_wrap{
      margin-bottom: 150px;
      background: url("../img/bg_02.jpg");
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 380px;
      .con1_txt{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        color:#fff;
        text-align: center;
        transform: translateY(0);
        // transition: 1s;
        animation: 1.5s alls;
        @keyframes alls{
          0%{transform: translateY(200px);}
          100%{transform: translateY(0);}
        }
        h2{
          font-size: 80px;
          font-weight: 800;
          margin-bottom: 40px;
          text-shadow: 3px 3px 5px rgba(0,0,0,0.2)
        }
        p{
          white-space: pre-line;
          font-size: 20px;
          line-height: 1.5;
          font-weight: 500;
        }
      }
    }
    .con2_wrap{
      width: 1200px;
      margin: 0 auto 150px;
      h2{
        font-size: 30px;
        font-weight: 600;
        color:#333;
        margin-bottom: 50px;
      }
      ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li{
          width: 370px;
          height: 370px;
          border: 1px solid #ddd;
          border-radius: 15px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 45px;
          overflow: hidden;
          cursor: pointer;
          &:last-child{
            margin-bottom: 0;
          }
          .con2_box{
            margin-bottom: 20px;
            figure{
              width: 260px;
              margin: 0 auto 30px;
              img{
                width: 100%;
              }
            }
            p{
              text-align: center;
              font-size: 24px;
              color:#333;
              font-weight: 600;
            }
          }
          span{
            position: absolute;
            bottom: 30px;
            color:#fff;
            width: 300px;
            height: 42px;
            background-color: #FFC20D;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transform: translateY(80px);
            transition: .5s;
          }
          &:hover{
            box-shadow: 1px 1px 15px rgba(0,0,0,0.1);
            border:none;
            span{
              transform: translateY(0px);
            }
          }
        }
      }
    }
  }
}

@media (max-width:1300px){
  .wrap{
    .unit{
      padding-top: 70px;
      .con1_wrap{
        height: 300px;
        .con1_txt{
          h2{
            font-size:70px;
            margin-bottom:30px;
          }
          p{
            font-size: 16px;
            line-height: 1.7;
          }
        }
      }
      .con2_wrap{
        max-width: 90%;
        ul{
          li{
            width: 330px;
            height: 330px;
            .con2_box{
              figure{
                text-align: center;
                img{
                  width: 90%;
                }
              }
              p{
                font-size: 22px;
              }
            }
            span{
              width: 260px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
@media (max-width:1150px){
  .wrap{
    .unit{
      .con2_wrap{
        >h2{
          font-size: 25px;
          margin-bottom: 35px;
        }
        ul{
          li{
            width: 280px;
            height: 280px;
            .con2_box{
              figure{
                margin: 0 auto 10px;
                img{
                  width: 70%;
                }
              }
              p{
                font-size: 20px;
              }
            }
            span{
              width: 230px;
            }
          }
        }
      }
    }
  }
}
@media (max-width:1000px){
  .wrap{
    .unit{
      padding-top: 60px;
      .con1_wrap{
        height: 260px;
        .con1_txt{
          >h2{
            margin-bottom: 20px;
          }
        }
      }
      .con2_wrap{
        ul{
          li{
            width: 240px;
            height: 240px;
            .con2_box{
              figure{
                margin: 0 auto 20px;
                img{
                  width: 60%;
                }
              }
            }
            span{
              width: 200px;
              bottom: 15px;
            }
          }
        }
      }
    }
  }
}
@media (max-width:850px){
  .wrap{
    .unit{
      .con2_wrap{
        max-width: 85%;
        ul{
          li{
            width:300px;
            height:300px;
            .con2_box{
              >figure{
                img{
                  width: 90%;
                }
              }
              >p{
                font-size: 22px;
              }
            }
            span{
              width: 230px;
              bottom: 20px;
            }
          }
        }
      }
    }
  } 
}
@media (max-width:750px){
  .wrap{
    .unit{
      .con1_wrap{
        height: 230px;
        margin-bottom: 100px;
        .con1_txt{
          h2{
            font-size: 55px;
          }
          p{
            font-size: 14px;
          }
        }
      }
      .con2_wrap{
        ul{
          li{
            width:270px;
            height:270px;
            .con2_box{
              >figure{
                img{
                  width: 70%;
                }
              }
            }
            span{
              width: 200px;
            }
          }
        }
      }
    }
  } 
}
@media (max-width:660px){
  .wrap{
    .unit{
      .con2_wrap{
        ul{
          li{
            width:250px;
            height:250px;
            .con2_box{
              >figure{
                margin: 0 auto 15px;
                img{
                  width:55%;
                }
              }
              >p{
                font-size: 18px;
              }
            }
            span{
              width: 190px;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
@media (max-width:640px){
  .wrap{
    .unit{
      padding-top: 25%;
      .con1_wrap{
        display: none;
      }
      .con2_wrap{
        max-width: 85%;
        ul{
          li{
            width:100%;
            height:330px;
            margin-bottom: 40px;
            .con2_box{
              >figure{
                margin: 0 auto 20px;
                img{
                  width:100%;
                }
              }
              >p{
                font-size: 22px;
              }
            }
            span{
              width:300px;
            }
          }
        }
      }
    }
  }
}
@media (max-width:460px){
  .wrap{
    .unit{
      padding-top: 33%;
      .con2_wrap{
        margin: 0 auto 25%;
        >h2{
          font-size: 20px;
          margin-bottom: 20px;
        }
        ul{
          li{
            height:300px;
            margin-bottom: 30px;
            .con2_box{
              >figure{
                img{
                  width:85%;
                }
              }
              >p{
                font-size: 22px;
              }
            }
            span{
              width:240px;
            }
          }
        }
      }
    }
  }
}