@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
body, ul, li, p, h1, h2, h3, figure {
  margin: 0;
  padding: 0;
}

figure {
  font-size: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

* {
  box-sizing: border-box;
  font-family: Pretendard, "Noto Sans KR", sans-serif;
}

.line {
  width: 100%;
  border: 3px solid #009223;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 6px;
  left: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 10, 0, 0.1);
}
header .header_wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_wrap > a {
  font-size: 0;
}
header .header_wrap > a img {
  width: 160px;
}
header .header_wrap > ul {
  display: flex;
  align-items: center;
}
header .header_wrap > ul > li {
  padding-left: 60px;
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
}
header .header_wrap > ul > li:first-child {
  padding-left: 0;
}
header .header_wrap > ul > li > a {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  height: 80px;
  display: flex;
  align-items: center;
  cursor: default;
}
header .header_wrap > ul > li > a:hover {
  color: #009223;
}
header .header_wrap > ul > li > a:hover ~ .sub > ul > li > a {
  border-bottom: 1px solid #FFF;
}
header .sub {
  width: 100%;
  background-color: #009223;
  position: relative;
  height: 49px;
  display: none;
}
header .sub > ul {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header .sub > ul:nth-of-type(1) {
  display: none;
}
header .sub > ul:nth-of-type(2) {
  display: none;
}
header .sub > ul:nth-of-type(3) {
  display: none;
}
header .sub > ul:nth-of-type(4) {
  display: none;
}
header .sub > ul:nth-of-type(5) {
  display: none;
}
header .sub > ul:nth-of-type(6) {
  display: none;
}
header .sub > ul > li {
  padding: 15px 20px;
}
header .sub > ul > li:nth-of-type(1) {
  padding-left: 0;
}
header .sub > ul > li a {
  color: #fff;
}
header .sub > ul.actives {
  display: flex;
}

footer {
  background-color: #FFC20D;
  width: 100%;
  color: #f5f5f5;
}
footer .footer_wrap {
  width: 1200px;
  margin: 0 auto;
}
footer .footer_wrap .top_wrap {
  padding: 20px 0;
  border-bottom: 1px solid #f5f5f5;
}
footer .footer_wrap .top_wrap ul {
  display: flex;
}
footer .footer_wrap .top_wrap ul li {
  margin-right: 20px;
  font-size: 14px;
}
footer .footer_wrap .bottom_wrap {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_wrap .bottom_wrap .bot_left ul {
  display: flex;
  margin-bottom: 10px;
}
footer .footer_wrap .bottom_wrap .bot_left ul li {
  font-size: 14px;
  margin-right: 20px;
}
footer .footer_wrap .bottom_wrap .bot_left p {
  font-size: 14px;
}
footer .footer_wrap .bottom_wrap .bot_right {
  display: flex;
}
footer .footer_wrap .bottom_wrap .bot_right i {
  margin-left: 10px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer_wrap .bottom_wrap .bot_right i:nth-of-type(3) {
  font-size: 18px;
}

.top {
  position: fixed;
  right: 170px;
  bottom: 50px;
  width: 46px;
  height: 46px;
  border: 2px solid #009223;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}
.top i {
  font-size: 20px;
  color: #009223;
}

@media (max-width: 1750px) {
  .top {
    right: 5%;
  }
}
@media (max-width: 1500px) {
  .top {
    right: 3%;
  }
}
@media (max-width: 1450px) {
  .top {
    right: 35px;
    width: 40px;
    height: 40px;
  }
  .top i {
    font-size: 18px;
  }
}
@media (max-width: 1300px) {
  header {
    height: 70px;
  }
  header .header_wrap {
    max-width: 95%;
  }
  header .header_wrap > a img {
    width: 140px;
  }
  header .header_wrap > ul > li {
    padding-left: 45px;
    height: 70px;
  }
  header .header_wrap > ul > li > a {
    font-size: 18px;
    height: 70px;
  }
  header .sub {
    width: 100%;
    background-color: #009223;
    position: relative;
    height: 49px;
  }
  header .sub > ul {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  header .sub > ul:nth-of-type(1) {
    display: none;
  }
  header .sub > ul:nth-of-type(2) {
    display: none;
  }
  header .sub > ul:nth-of-type(3) {
    display: none;
  }
  header .sub > ul:nth-of-type(4) {
    display: none;
  }
  header .sub > ul:nth-of-type(5) {
    display: none;
  }
  header .sub > ul:nth-of-type(6) {
    display: none;
  }
  header .sub > ul > li {
    padding: 15px 20px;
  }
  header .sub > ul > li:nth-of-type(1) {
    padding-left: 0;
  }
  header .sub > ul > li a {
    color: #fff;
  }
  footer .footer_wrap {
    max-width: 95%;
  }
}
.wrap {
  overflow-x: hidden;
  position: relative;
}
.wrap .utilizationGroupMenu {
  padding-top: 80px;
}
.wrap .utilizationGroupMenu .con1_wrap {
  background: url("../img/bg_02_01.jpg");
  background-repeat: no-repeat;
  width: 1920px;
  height: 350px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.wrap .utilizationGroupMenu .con1_wrap .con1_txt {
  text-align: center;
  color: #fff;
  animation: 1.5s alls;
}
@keyframes alls {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
  }
}
.wrap .utilizationGroupMenu .con1_wrap .con1_txt h2 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 40px;
}
.wrap .utilizationGroupMenu .con1_wrap .con1_txt p {
  font-size: 20px;
  border: 2px solid #fff;
  display: inline-block;
  padding: 10px 34px;
  border-radius: 50px;
}
.wrap .utilizationGroupMenu .con2_wrap {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 150px 0;
}
.wrap .utilizationGroupMenu .con2_wrap h3 {
  font-size: 30px;
  color: #333;
  margin-bottom: 70px;
}
.wrap .utilizationGroupMenu .con2_wrap ul {
  display: flex;
  justify-content: space-between;
}
.wrap .utilizationGroupMenu .con2_wrap ul li {
  width: 30%;
}
.wrap .utilizationGroupMenu .con2_wrap ul li:last-child figure img {
  width: 60%;
}
.wrap .utilizationGroupMenu .con2_wrap ul li figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #aaa;
  margin: 0 auto 30px;
}
.wrap .utilizationGroupMenu .con2_wrap ul li p:nth-of-type(1) {
  color: #009223;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
}
.wrap .utilizationGroupMenu .con2_wrap ul li p:nth-of-type(2) {
  color: #333;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.wrap .utilizationGroupMenu .con2_wrap ul li span {
  color: #999;
  font-weight: 300;
  line-height: 1.3;
}/*# sourceMappingURL=utilizationGroupMenu.css.map */